<ux-layout-content class="main-container" fxLayoutAlign="center center">
  <desktop-logo-wrapper>


    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex.lg="50"
      fxFlexFill
    >
      <div fxLayout="row" fxLayoutAlign="center">
        <ux-typography variant="heading" text="Preparing your session"></ux-typography>
      </div>
    </div>
  </desktop-logo-wrapper>
</ux-layout-content>
