<ux-layout-content
  class="main-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <desktop-logo-wrapper>
    <div class="description">
      <ux-typography variant="heading" text="Session is locked"></ux-typography>
      <ux-typography
        variant="caption"
        class="second-line"
        text="Please provide the passphrase"
      ></ux-typography>
    </div>

    <form
      class="form-container"
      [formGroup]="formGroup"
      fxLayoutAlign="center"
    >
      <mat-form-field
        class="form-field"
        fxFlex.lg="60"
        fxFlex.md="60"
        fxFlex.sm="60"
        fxFlex.xs="90"
        fxLayoutAlign="center"
        color="accent"
        appearance="outline"
      >
        <mat-label>Passphrase</mat-label>
        <input
          autofocus
          autocomplete="false"
          formControlName="passphrase"
          name="passphrase"
          type="password"
          [disabled]="disabled"
          matInput
          placeholder="Enter your passphrase"
        />

        <mat-error
          *ngIf="
            formGroup.get('passphrase').invalid &&
            formGroup.get('passphrase').errors.badpassphrase
          " 
          >Wrong password</mat-error
        >
        <mat-error
          *ngIf="
            formGroup.get('passphrase').invalid &&
            formGroup.get('passphrase').errors.required
          " 
          >Password is required</mat-error
        >
        <!-- TODO: make reactive form -->
      </mat-form-field>
    </form>
  </desktop-logo-wrapper>
</ux-layout-content>
