<desktop-logo-wrapper>
  <div fxLayout="row" fxLayoutAlign="center" class="heading">
    <ux-typography
      variant="heading"
      text="Lets create your profile"
    ></ux-typography>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="subheading">
    <ux-typography
      variant="caption"
      text="Choose your avatar and name"
    ></ux-typography>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="avatar-container">
    <div ngxFileDrop class="drop-zone" (onFileDrop)="onFileDropped($event)">
      <ng-container *ngIf="imageDataUrl; else defaultAvatar">
        <img mat-card-avatar [src]="imageDataUrl" />
      </ng-container>
      <ng-template #defaultAvatar>
       <ux-avatar></ux-avatar>
      </ng-template>
    </div>
  </div>
  <form
    [formGroup]="formGroup"
    class="form-container"
    fxLayoutAlign="center center"
    fxLayout="column"
  >
    <!-- <ux-input-field label="Enter your name" value="" formControlName="name"></ux-input-field> -->

    <mat-form-field
      class="form-field"
      color="accent"
      appearance="outline"
    >
      <mat-label>Name</mat-label>
      <input
        autofocus
        matInput
        formControlName="username"
        placeholder="Enter your name"
        type="text"
      />
      <mat-error
        *ngIf="formGroup.get('username').invalid && formGroup.get('username').touched"
      >
        <span *ngIf="formGroup.get('username').errors.required"
          >Name is required</span
        >
        <span *ngIf="formGroup.get('username').errors.minlength"
          >Name must be at least 3 characters long</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="form-field textarea"
      color="accent"
      appearance="outline"
    >
      <mat-label>Bio</mat-label>
      <textarea
        formControlName="bio"
        value=""
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5"
        matInput
      ></textarea>
      <!-- <button
        class="clear-button"
        matSuffix
        class="clear-button"
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
  </form>
</desktop-logo-wrapper>
