@media screen and (max-width: 900px) {
  .drop-zone mat-icon {
    font-size: 45px;
    width: 45px;
    height: 45px;
  }
  .drop-zone mat-avatar {
    width: 45px;
    height: 45px;
  }
  .form-field {
    min-width: 80%;
  }
}
@media screen and (min-width: 901px) {
  .drop-zone mat-icon {
    font-size: 80px;
    width: 80px;
    height: 75px;
  }

  .drop-zone mat-avatar {
    width: 150px;
    height: 150px;
  }
  .form-field {
    min-width: 60%;
  }
}

.link-scroll::-webkit-scrollbar {
  display: none;
}


:focus {
  background-color: transparent;
}

.heading {
  margin-bottom: 1em;
}

.subheading {
  margin-bottom: 2em;
}

.form-container {
  width: 100%;
  margin-top: 2em;
}

.description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 100%;
}
.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
}



.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // border: 2px dashed #ccc;
  // background-color: #f5f5f5;
  cursor: pointer;
}

.drop-zone mat-icon {
  color: white;
}

::ng-deep .mat-input-element {
  color: white !important;
}

:host {
  width: 100%;
}
