<desktop-logo-wrapper>
  <div fxLayout="row" fxLayoutAlign="center" class="heading">
    <ux-typography variant="heading" text="Connect new device"></ux-typography>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="subheading">
    <ux-typography
      variant="caption"
      text="Import account from another device"
    ></ux-typography>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <ux-typography
      variant="heading"
      text="Please approve on other device"
    ></ux-typography>
  </div>
</desktop-logo-wrapper>
