<ux-list-item>
  <button [ngClass]="{'active-router': active, 'not-active-router': !active}"
   mat-flat-button class="list-button" fxLayoutAlign="center">
    <ux-avatar small="true" [avatarLabel]="avatarLabel" ></ux-avatar>
   
      <div fxLayout="row" fxFlex="90" fxLayoutAlign="center center">
        <div class="name">
          {{name}}
        </div>
      </div>
 
  </button>
</ux-list-item>
