:host ::ng-deep .mat-button-wrapper {
  width: 100%;
  overflow: hidden;
}
ux-list-item:hover {
  .name {
    color: white;
  }
}
.info-container {
  margin-left: 10px;
  white-space: nowrap;
}
.msg-content {
  margin-left: 10px;
}
.list-button {
  border: none;
  margin: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 60px;
  align-items: center;
} :focus {
  outline: none;
}
.not-active-router {
  background-color: transparent;
}
.active-router {
  background-color: #E78655;
}
.list-button:hover {
  background-color: #E78655;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  display: inline;
  align-items: center;
  color: #dddde2;
    font-size: 1.2em;
    font-weight: 400;
}

ux-avatar {
  width: 11%;
}