<div class="notify-bar" [@slideInOut]="enable" [ngClass]="{ warning: warning, info: !warning }">
    <div class="description">
      <mat-icon *ngIf="icon">notification_important</mat-icon>
      <mat-icon *ngIf="warning">priority_high</mat-icon>
      <span>{{ message }}</span>
    </div>
    <div class="actions">
      <button
        (click)="actionClicked(action.action)"
        *ngFor="let action of actions"
        type="button"
        color="action.color"
        mat-button
      >
        {{ action.label }}
      </button>
    </div>
  </div>
  