@import "../../../../../variable";
.notify-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  place-content: space-between;
  padding: 0px 20px;
  div {
    flex: 1;
    color: white; // TODO: get from palette
  }
  button {
    margin-left: 5px;
  }
}

.warning {
  background-color: $warning-opacity;
}
.info {
  background-color: $primary-opacity; // TODO: get from palette
}
.description {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 20px;
  }
}
.actions {
  display: flex;
  align-items: center;
  width: 20%;
  place-content: flex-end;
}
