<div *ngIf="(isMobile$ | async).matches" fxLayout="row" class="cancel-wrapper">
  <ux-logo></ux-logo>
  <button
    matTooltipPosition="above"
    matTooltip="cancel"
    class="cancel-button"
    mat-icon-button
    color="accent"
    (click)="close.next()"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>
<ux-list>
  <div matRipple class="new-session" (click)="newSession()">
    <div class="new-session-wrapper">
      <mat-icon>add</mat-icon>
      <ux-typography variant="caption-light" text="New session"></ux-typography>
    </div>
  </div>
  <div *ngIf="syncSession" matRipple [routerLink]="'session/active/' + syncSession.id" class="new-session">
    <div  class="new-session-wrapper">
      <mat-icon>devices</mat-icon>
      <ux-typography variant="caption-light" text="My devices"></ux-typography>
    </div>
  </div>
  <mat-accordion [multi]="true" displayMode="flat" #accordion>
    <mat-expansion-panel
      [(expanded)]="buddiesExpanded"
      *ngIf="sessions && sessions.length > 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Buddies </mat-panel-title>
      </mat-expansion-panel-header>
      <session-item
        [routerLink]="'session/active/' + session.id"
        [active]="session.id === currentSessionId"
        *ngFor="let session of sessions"
        [name]="session.name"
      ></session-item>
    </mat-expansion-panel>
  </mat-accordion>
</ux-list>
