:host {
  height: 84vh;
  width: 100%;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}
:host ::ng-deep .mat-list-base {
  padding-top: 0;
}
.new-session {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid rgba(156, 39, 176, 0.3);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: white;
    margin-right: 5px;
  }
}

.new-session-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  place-content: start;
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: rgba(156, 39, 176, 0.8);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.cancel-wrapper {
  align-items: center;
  width: 100%;
  place-content: space-between;
  padding: 8px 16px;
}


.new-session-wrapper:hover {
  cursor: pointer;
  background-color: rgba(156, 39, 176, 0.3);

}
ux-list-item .active {
  background-color: red;
}
.router-link-active {
  background-color: red;
}
