@media screen and (max-width: 900px) {
  .checkbox-container {
    margin-bottom: 1em !important;
  }
  .form-field {
    min-width: 80%;
  }
}
@media screen and (min-width: 901px) {
  .form-field {
    min-width: 60%;
  }
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100%;
}


.container {
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
}

.pin-code {
  font-weight: 400;
  color: #ff7043;
  font-size: 3em;
  letter-spacing: 1px;
}

.pin-code-container {
  margin-top: 5em;
}

:focus {
  background-color: transparent;
}

.main-container {
  position: relative;
  overflow: hidden;
}

.checkbox-container {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 1em;
}

.checkbox {
  width: 100%;
  display: flex;
}

.checkbox-text {
  line-height: 1.5em;
  margin: 0;
  width: 100%;
}

.form-container {
  width: 100%;
  margin-top: 4vh;
}

.description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 50vh;
}

.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.checkbox-container {
  left: 0;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
  color: #8f919f;
  font-size: 0.9em;

  padding-left: 10px;
  padding-right: 10px;
}

// rather than center the checkbox, put the checkbox in the first line
::ng-deep .mat-checkbox-inner-container {
  margin-left: 0;
}

.subheading {
  margin-top: 1em;

  margin-bottom: 1em;
  display: flex;
  align-items: center;
  place-content: start;
  width: 100%;
}


mat-error {
  margin-left: 34px;
}
::ng-deep .mat-form-field-wrapper {
  width: 100%;
}
:host {
  width: 100%;
}
