<desktop-logo-wrapper>

    <div class="row" fxLayoutAlign="center">
      <ux-typography
      variant="heading"
      text="Now, encrypt your database"
    ></ux-typography>
    </div>
    <div fxLayout="row" class="subheading" fxLayoutAlign="center">
      <ux-typography
        variant="caption"
        text="Provide a secure password for encrypting your conversations"
      ></ux-typography>
    </div>
    <form
      [formGroup]="formGroup"
      class="form-container"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-form-field
        class="form-field"
        appearance="outline"
        fxLayoutAlign="center"
        color="accent"
      >
        <mat-label>Passphrase</mat-label>
        <input
          formControlName="password"
          name="password"
          autofocus
          matInput
          type="password"
          autocomplete="new-password"
          placeholder="Passphrase is required"
          (keydown)="onKeydown($event, 'repeatPassword')"
        />
        <mat-error *ngIf="formGroup.get('password').hasError('required')">
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('password').hasError('passwordStrength')"
        >
          Password is not strong enough.
        </mat-error>
      </mat-form-field>
      <!-- </form>
    <form class="form-container" fxLayoutAlign="center"> -->
      <mat-form-field
        class="form-field"
        fxFlex.lg="60"
        fxFlex.md="60"
        fxFlex.sm="60"
        fxFlex.xs="90"
        fxLayoutAlign="center"
        color="accent"
        appearance="outline"
      >
        <mat-label>Retype passphrase</mat-label>
        <input
          formControlName="repeatPassword"
          matInput
          name="repeatPassword"
          type="password"
          placeholder="Passphrase is required"
          (keydown)="onKeydown($event, 'agreeToTerms')"
          #repeatPassword
        />
        <mat-error *ngIf="formGroup.get('repeatPassword').hasError('required')">
          Confirm password is required.
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('repeatPassword').hasError('passwordMismatch')"
        >
          Passwords do not match.
        </mat-error>
      </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center" class="checkbox-container">
      <form [formGroup]="formGroup">
        <mat-checkbox
          fxLayoutAlign="center center"
          formControlName="agreeToTerms"
          #agreeToTerms
        >
          <p class="checkbox-text">
            I understand that I'll lose my Sessions/Contacts if I'll lose that
            passphrase
          </p></mat-checkbox
        >
        <p></p>
        <mat-error
          *ngIf="
            formGroup.get('agreeToTerms').invalid &&
            formGroup.get('repeatPassword').valid &&
            formGroup.get('password').valid
          "
        >
          You must agree to the terms and conditions
        </mat-error>
      </form>
    </div>

  </desktop-logo-wrapper>
