<div fxLayoutAlign="center center">
  <div
    fxFlex="50"
    fxFlex.xs="100"
    fxLayoutAlign="center center"
    fxLayout="column"
  >
    <div class="description-container" fxFlex fxLayout="column">
      <h2 class="mat-subheading-1">{{ name }}</h2>
      <p class="caption">{{ description }}</p>
    </div>

      <div fxFlexFill>
        <ng-content></ng-content>
      </div>
  </div>
</div>
