<ux-sidenav-layout
  [showFooter]="false"
  [leftSideOpened]="
    mode !== SecureChatMode.GUEST &&
    (!(isMobile$ | async).matches || leftSideOpened)
  "
  [rightSideOpened]="
    mode === SecureChatMode.GUEST && !(isMobile$ | async).matches
      ? true
      : rightSideOpened
  "
>
  <ux-layout-left-side>
    <session-list
      (close)="closeLeftPanel()"
      [currentSessionId]="sessionId"
    ></session-list>
  </ux-layout-left-side>
  <ux-layout-top fxFlexFill>
    <ux-topbar>
      <ng-template uxTopbarLeftComponent>
        <div class="logo-name-wrapper">
          <svg
            width="30"
            height="30"
            class="logo logo-small"
            *ngIf="!(isMobile$ | async).matches"
          ></svg>
          <div *ngIf="!(isMobile$ | async).matches" class="app-name">
            <div class="logo-text"></div>
          </div>
          <!-- <ux-round-button *ngIf="(isMobile$ | async).matches && mode !== SecureChatMode.GUEST"
            (click)="toggleSidenav()" icon="menu" styleType="round_small"></ux-round-button> -->

          <ux-sidenav-button
            (click)="toggleSidenav()"
            *ngIf="(isMobile$ | async).matches && mode !== SecureChatMode.GUEST"
            icon="keyboard_arrow_left"
            label="Session list"
            styleType="raised"
          ></ux-sidenav-button>
        </div>
      </ng-template>
      <!-- <ux-typography
        class="label-name"
        [text]="peerProfile ? peerProfile.name : sessionId"
        variant="subtitle-ellipsis"
      ></ux-typography> -->
      <div class="label-name-wrapper">
        <div class="subtitle-ellipsis label-name">
          <span>
            {{ peerProfile ? peerProfile.username : sessionId }}
          </span>
        </div>
      </div>

      <ng-template uxTopbarRightComponent>

        <div fxFlexFill class="right-container-inner">
          <ux-button
            color="accent"
            styleType="raised"
            label="Store session"
            *ngIf="mode === SecureChatMode.GUEST && (isMobile$ | async).matches"
            (click)="clickAvatar()"
          ></ux-button>
          <ux-avatar
            small="true"
            *ngIf="mode === SecureChatMode.READY"
            (click)="clickAvatar()"
          ></ux-avatar>
        </div>
      </ng-template>
    </ux-topbar>

  </ux-layout-top>
  <router-outlet></router-outlet>
</ux-sidenav-layout>
