@import "../../../variable";
:host {
  background: $background-gradient;
}
@media screen and (min-width: 901px) {
  .subtitle-ellipsis {
    font-size: 1.4em;
  }
  main::-webkit-scrollbar {
    width: 0.5em;
  }
  main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(121, 118, 118, 0.3);
  }

  main::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .sidenav-container {
    width: 20% !important;
  }
  .save-button {
    font-size: 1.2em !important;
  }
  .label-name {
    height: 100%;
  }
}
@media screen and (max-width: 900px) {

  .subtitle-ellipsis {
    font-size: 1em;
  }
  .sidenav-mobile-left-side {
    height: 100%;
  }
}
.logo {
  color: orange;
  background: url("../../../assets/logo-protocol-new.png") center no-repeat;
  background-size: contain;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}
.active {
  background-color: rgb(52, 180, 84);
}
.away {
  background-color: rgb(111, 116, 112);
}
.save-button {
  font-size: 0.9em;
  color: #dddde2;
  width: 100%;
  background-color: transparent;
  font-weight: 400;
}
.label-name {
  height: 100%;
}
.right-container-inner {
  align-items: center;
  place-content: end;
  display: flex;
}

.subtitle-ellipsis {
  color: #dddde2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}
.label-name-wrapper {
  display: flex;
  align-items: center;
  place-content: center;
    }
