
$fontset: Prompt;
$basic-black: black;
$primary-opacity: rgb(156, 39, 176, 0.5);
$warning-opacity: rgb(151, 27, 23, 0.5);
$basic-white: white;
$basic-transparent: transparent;
$background-gradient: radial-gradient(at top left, rgba(231, 134, 85, 1) 0%, rgba(148, 91, 49, 1) 12%, rgba(106, 69, 31, 1) 25%, rgba(18, 17, 32, 1) 60%, rgba(13, 14, 28, 1) 100%);
$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);
// $underline-color: #ffeb3b;
$galaxy-purple-palette: (
  900: #0e0416,
  800: radial-gradient(at top left, rgba(231, 134, 85, 1) 0%, rgba(148, 91, 49, 1) 12%, rgba(106, 69, 31, 1) 25%, rgba(18, 17, 32, 1) 60%, rgba(13, 14, 28, 1) 100%),
  //button secondary
  500: #242424,
  50: #f6effd,
  A100: #ff8a80,
  A700: #d50000,
  contrast: (50: #140a1d,
    900: white,
    A100: white,
  ),
);
$vanilla-palette: (
  text: white,
  A100: #fcf3e3,
  700: #fff2dd,
  600: #ffd79b,
  500: rgba(241, 170, 37, 0.568),
  50: #ffd500,
  contrast: (
    50: $basic-white,
    100: $basic-white,
    A400: $basic-white,
    A700: $basic-white,
  ),
);

$alert-palette: (
  600: #9f1b1f,
  500: #971B17, //alert
  400: #9f1b1f,
  A100: #f9d3d4,
  A200: #ee3b40,
  A400: #9f1b1f,
  A700: #650306,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    A700: white,
  ),
);
$warning-palette: (
  900: #5f2709,
  800: #5f2709,
  300: #f97937,
  200: #f97937,
  100: #ffe1be,
  A700: #5f2709,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    A700: white,
  ),
);



