@import "@ctrl/ngx-emoji-mart/picker";
@import "./variable";
@import "./google-font.scss";
@import "~@angular/material/theming";

// @import '@angular/material/prebuilt-themes/purple-green.css';

@include mat-core();

@include google-font($fontset, 200 300 400 500 600 700);

* {
  font-family: $fontset;
}

// include the custom theme components into a theme object

$galaxy-theme: mat-dark-theme(
  mat-palette($mat-purple),
  mat-palette($mat-orange),
  mat-palette($mat-red)
);

// include the custom theme object into the angular material theme
@include angular-material-theme($galaxy-theme);
@debug "text color: #{map-get($mat-dark-theme-foreground, 'text')}";

@media screen and (max-width: 900px) {
  .logo-name-wrapper {
    // padding-left: 16px;
  }

  .app-name {
    width: 77%;
  }
  body {
    height: calc(100vh - 60px);
  }
}

@media screen and (min-width: 901px) {
  .app-name {
    width: 100%;
  }
  body {
    height: 100%;
  }
}

main::-webkit-scrollbar {
  width: 0.5em;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(121, 118, 118, 0.3);
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(68, 64, 64, 0.3);
}

html {
  height: 100%;
}

body {
  margin: 0;
  overscroll-behavior-y: contain;
  margin: 0;
  background: $background-gradient;

  padding: 0;
}

:ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

.logo {
  background-size: contain !important;
  background: url(./assets/logo-protocol-new.png) center no-repeat;
}

.logo-text {
  background-size: contain !important;
  width: 122px;
  height: 22px;
  background: url(./assets/protocol-logo.PNG) center no-repeat;
}

.app-name {
  display: flex;
  align-items: start;
  place-content: start;
}

.logo-name-wrapper {
  display: flex;
  align-items: center;
  place-content: start;
}

.mat-body,
.mat-body-1,
.mat-typography {
  font-family: $fontset;
}

.mat-drawer-container {
  height: 100%;
}

.logo-small {
  width: 34px;
}

input.mat-input-element {
  color: white;
}

.emoji-sheet {
  padding: 0 !important;
  border-radius: 5px 5px 0px 0px !important;
}

//toasts, notifications

.mat-bottom-sheet-container {
  padding: 0 !important;
}

//accordings

.mat-accordion .mat-expansion-panel {
  margin: 0;
}
.mat-expansion-panel {
  background-color: rgba(156, 39, 176, 0.4);
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.mat-icon-button {
  line-height: inherit !important;
}
.mat-button {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.24);
}
.clear-button {
  display: flex !important;
  align-items: center;
  place-content: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

a {
  text-decoration: none;
}