<button [type]="type" mat-raised-button [disabled]="disabled">
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <img *ngIf="image" [src]="image" />
  <ux-typography variant="subtitle-small" [text]="label"></ux-typography>

</button>
