:host {
  display: flex;
  align-items: center;
  place-content: center;
  cursor: pointer;
}

.circle {

  border-radius: 50%;

}

.avatar-container {

}

.small {
  width: 34px;
  height: 34px;

  mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
}

.big {
  width: 120px;
  height: 120px;

  mat-icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
}
.edit-mode:hover {
  border: 4px solid rgba(240, 165, 121, 0.4);
  background-color: #ff9800;
  cursor: pointer;
  border-radius: 50%;
}
.edit-mode {
  border: 4px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  background-color: #9c27b0;
  -webkit-transition: background-color 1s;
  -moz-transition:    background-color 1s;
  -ms-transition:     background-color 1s;
  -o-transition:      background-color 1s;
  transition:         background-color 1s;


  mat-icon {
    color: #ff9800;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
  }

  :hover {

    mat-icon {
      color: #9c27b0;
    }

  }
}

.non-edit-mode {
  border: 4px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  background-color: #9c27b0;
  .avatar-container {

  }

}
