<a class="circle" [ngClass]="{'edit-mode': edit, 'non-edit-mode': !edit, 'big': !small, 'small': small}">
    <div
      class="avatar-container"
      fxLayout="column"
      [ngClass]="{ 'big': !small, 'small': small}"
      fxLayoutAlign="center center"

    >
      <!-- <span class="initials" fxLayout="row" fxLayoutAlign="center center">{{
        label
      }}</span> -->

        <mat-icon *ngIf=!edit color="accent">person</mat-icon>
        <mat-icon *ngIf=edit>person_add</mat-icon>


    </div>

  </a>
