:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .loading-spinner {
    min-height: 24px;
    min-width: 24px;
    height: 100%;
    align-items: center;
    display: flex;
    place-content: center;
  }
  
  .wrapped-content {
    height: 100%;
  }
  
  