:host {
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  margin-bottom: 4vh;
}
.second-line {
  margin-top: 1vh;
}
.form-field {
  width: 100%;
  input {
    width: 100%;
  }
}
:host ::ng-deep .mat-form-field-wrapper {
  width: 60%;
}
