<ux-simple-layout>
  <ux-layout-top>
    <ng-content select="ux-layout-top"></ng-content>
  </ux-layout-top>
    <ux-layout-content>
        <router-outlet></router-outlet>
    </ux-layout-content>
    <ux-layout-footer>
        <div
            fxLayout="row"
            fxLayoutAlign="center center"
        >
            <ux-bottom-menu [navLinks]="navLinks"></ux-bottom-menu>
        </div>
        footer
    </ux-layout-footer>
</ux-simple-layout>
