@import '../../../../variable';

:host {
  mat-icon {
    width: 100%;
  }
  .button {
    padding: 0;
    width: 40px;
    overflow: hidden;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
  }
}
// router-outlet.router-flex + * {
//   display: flex;
//   flex: 1 1 auto;
//   flex-direction: column;
// }

.container {
  background: map-get($galaxy-purple-palette, 800);
}
