<mat-form-field appearance="standard" fxLayoutAlign="center center" color="accent">
    <mat-label>{{label}}</mat-label>
    <input
        ngDefaultControl
        fxFlexAlign="center"
        matInput
        [(ngModel)]="value"
        (ngModelChange)="updateChanges()"
        [type]="type"
    >
    <div fxLayout="row" *ngIf="error">
        <ux-typography
            [style.visibility]="error ? 'visible' : 'hidden'"
            variant="error"
            [text]="error"
        ></ux-typography>
    </div>
</mat-form-field>
