// @media screen and (min-width: 993px) {
//   :host::-webkit-scrollbar {
//     width: 1em;
//   }
// }

// :host {
//   width: 100%;
//   height: 70px;
// }
// :host ::ng-deep .mat-input-element {
//   color: white;
//   font-size: 1em;
//   text-align: left;
//   background: linear-gradient(
//     90deg,
//     rgba(70, 72, 93, 1) 0%,
//     rgba(54, 56, 74, 1) 100%
//   );
//   width: 100%;
//   vertical-align: middle;
//   line-height: 33px;
//   background-size: contain;
//   margin-top: 5px;
//   margin-bottom: 5px;
//   font-weight: 900;
//   letter-spacing: 1px;
//   padding-left: 5px;
// }
// ::ng-deep .mat-form-field {
//   width: 100%;
// }

// :host ::ng-deep .mat-form-field-infix {
//   width: 100%;
//   border-top: none;
//   padding-top: 5px;
//   height: 100%;
//   overflow-x: hidden;
// }

// ::ng-deep .mat-form-field-wrapper {
//   width: 100%;
// }

// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   padding: 0;
// }

// ::ng-deep .mat-form-field-underline {
//   display: none;
// }

// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
//   top: 2em;
//   left: 0.5em;
// }

// ::ng-deep .ng-tns-c13-1 {
//   color: white;
//   opacity: 0.7;
// }

// ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
//   .mat-form-field-label {
//   transform: translateX(-0.1em) translateY(-1.9em) scale(0.75) perspective(100px)
//     translateZ(0.001px);
//   color: white;
//   margin-top: 6px;
// }

// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
//   padding-top: 4px;
// }

// ::ng-deep .mat-input-element {
//   caret-color: white;
// }

// /* Change Autocomplete styles in Chrome*/
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: none;
//   -webkit-text-fill-color: white;
//   -webkit-box-shadow: inset 0 0 0px 9999px linear-gradient(
//     90deg,
//     rgba(70, 72, 93, 1) 0%,
//     rgba(54, 56, 74, 1) 100%
//   );
//   transition: background-color 5000s ease-in-out 0s;
// }
@import "../../../../../variable";


input {
  height: 25px;
  font-size: 18px;
}
