<div class="container" fxLayout="row" fxFlexAlign="center center" fxFlexFill>
  <div
    class="left-container"
    fxFlexAlign="center start"
    fxFlex="20"
    fxFlex.xs="50"
   
  >
    <ng-container
      fxFlexAlign="center center"
      *ngTemplateOutlet="leftComponent?.template"
    ></ng-container>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="70" fxFlex.xs="50">
    <ng-content></ng-content>
  </div>
  <div
    fxFlexAlign="center"
    fxFlex="20"
    fxFlex.xs="50"
    fxLayoutAlign="center end"
   
    class="right-container"
  >
    <ng-container
      fxFlexAlign="center center"
      *ngTemplateOutlet="rightComponent?.template"
    ></ng-container>
  </div>
</div>
