.container {
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: #0D0E1C;
}

.right-container {
  width: 62%;

}

.left-container {
  width: 38%;

}

@media screen and (min-width: 901px) {
  .right-container {
    padding-right: 24px;
  }

  .left-container {
    padding-left: 24px;
  }
}

@media screen and (max-width: 900px) {
  .right-container {
    padding-right: 16px;
  }

  .left-container {
    padding: 16px 0 16px 16px;
  }
}
