<div class="bottom-sheet" [ngClass]="{'warning': warning, 'info': !warning}">
  <div class="description">
    <mat-icon *ngIf="!warning">check</mat-icon>
    <mat-icon *ngIf="warning">priority_high</mat-icon>
    <span>{{ message }}</span>
  </div>
  <div class="actions">
    <button
    type="button"
    mat-raised-button
    [color]="action.color || 'warn'"
    *ngFor="let action of data.actions"
    (click)="action.callback()"
  >
    {{ action.label }}
  </button>
  </div>

</div>
