<div [ngClass]="{'small-screen': width <= 900}" class="full-size" #logoWrapper>
  <div
    class="desktop-logo-wrapper-container"

    [ngStyle]="{
      'flex-direction': width > 900 ? 'row' : 'column'
    }"
  >
    <div
      class="logo-container"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex.lg="50"
      fxFlex.md="50"
    >
      <div class="logo"></div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <ux-typography
          class="description"
          variant="heading-light"
          text="End-to-end encrypted anonymous chat sessions"
        ></ux-typography>
      </div>
    </div>
    <div
      fxLayout="column"
      fxLayout.xs="row"
      fxLayoutAlign="center center"
      fxFlex.lg="50"
      fxFlex.md="50"
      class="second-container"
    >
      <div fxFlexFill class="right-wrapper">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
