@import "../../../variable";
@media screen and (max-width: 900px) {
  .logo {
    margin-top: 24px;
  }
  .logo {
    height: 150px;
    width: 150px;
    margin-left: 25px;
  }
  .desktop-logo-wrapper-container {
    padding: 0 16px;
  }
}
@media screen and (min-width: 901px) {
  .second-container {
    padding-right: 10%;
  }
  .logo {
    height: 200px;
    width: 200px;
    margin-left: 24px;
  }
  .logo-container {
    padding-left: 10%;
  }

}
:host {
  width: 100%;
}
.container {
  margin-bottom: 60px;
}
.second-container {
  width: 100%;
}
.logo {
  color: orange;
  background-size: contain;
  background: url("../../../assets/logo-protocol-new.png") center no-repeat;
}

.startBtn {
  width: 20vh;
  padding: 2px;
}

.description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 100%;
  text-align: center;
}

.subdescription {
  margin-top: 4vh;
  margin-bottom: 2vh;
  width: 40vh;
}

.topicon {
  margin-right: 1em;
}

.logo-container {
  min-width: 50%;
}

.desktop-logo-wrapper-container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}

.full-size {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  align-items: center;
}
.right-wrapper {
  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: column;
}
