<ux-simple-layout>
  <ux-layout-content>
    <div
      fxFlexFill
      fxLayout="row"
      flexLayoutAlign="start start"
    >
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>

  </ux-layout-content>
  <ux-layout-footer>
    <mat-divider></mat-divider>
    <ux-topbar>
      <ng-template uxTopbarLeftComponent *ngIf="hasPreviousRoute()">
        <ux-button
          [disabled]="!(currentChild?.canGoBack | async) || false"
          (click)="goBack()"
          styleType="clean"
          icon="chevron_left"
          class="btnicon"
        ></ux-button>
      </ng-template>
      <ng-template uxTopbarRightComponent *ngIf="hasNextRoute()">
        <ux-button
          [disabled]="!(currentChild?.canGoNext | async) || false"
          styleType="clean"
          icon="chevron_right"
          [label]="(nextButtonLabel | async) || null"
          (click)="goForward()"
          class="btnicon"
        ></ux-button>
      </ng-template>
      <ng-template uxTopbarRightComponent *ngIf="!hasNextRoute()">
        <ux-button
          styleType="clean"
          icon="chevron_right"
          (click)="done()"
          class="btnicon"
        ></ux-button>
      </ng-template>
    </ux-topbar>
  </ux-layout-footer>
</ux-simple-layout>
