::ng-deep .mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: inherit;
}
:host {
  height: 100%;
}

.button-next {
  width: 100%;
}

.button-preview {
  width: 100%;
}
::ng-deep .mat-icon {
  margin-left: 0px !important;
}
.btnicon {
  width: 100%;
}
