@import '../../../../../variable';

:host ::ng-deep .mat-raised-button,
.mat-fab,
.mat-mini-fab {
  width: 100%;
  height: 100%;
}


:host ::ng-deep .mat-caption {
  font-size: 16px;
  letter-spacing: 0.01em;
}
:host button {
  height: 100%;
  width: 100%;
  color:white;
}

::ng-deep .mat-fab .mat-button-wrapper {
  padding: 0;
}
.ux-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.button--icon {
  background-color: #acaebf;
  width: 30px;
  height: 36px;
  display: flex;
  align-items: center;
}

.button-container {
  width: 100%;
}
.mat-fab {
  box-shadow: none !important;
  padding: 0;
}

.round-btn-icon {
  padding: 0;
  margin: 0;
}
.link-button {
  text-align: center;
}
