<div class="ux-button">
  <div *ngIf="styleType === 'raised'" fxFlexFill>
    <button [color]="color" [type]="type" mat-raised-button [disabled]="disabled">
      <ux-typography variant="subtitle" [text]="label"></ux-typography>
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
      <img *ngIf="image" [src]="image" />
    </button>
  </div>
  <div *ngIf="styleType === 'flat'" fxFlexFill>
    <button [color]="color" [type]="type" mat-flat-button [disabled]="disabled">
      <ux-typography variant="subtitle" [text]="label"></ux-typography>
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    </button>
  </div>
  <div *ngIf="styleType === 'stroked'" fxFlexFill>
    <button [color]="color" [type]="type" mat-stroked-button [disabled]="disabled" fxFlexFill>
      <ux-typography variant="subtitle" [text]="label"></ux-typography>
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    </button>
  </div>
  <div *ngIf="styleType === 'clean'" fxFlexFill>
    <button [color]="color" [type]="type" mat-button [disabled]="disabled" fxFlexFill>
      <ux-typography variant="subtitle" [text]="label"></ux-typography>
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    </button>
  </div>
  <div *ngIf="styleType === 'round_small'">
    <button [color]="color" [type]="type" mat-fab [disabled]="disabled" class="mat-fab">
      <ux-typography variant="subtitle" [text]="label"></ux-typography>
      <mat-icon class="round-btn-icon" style="min-width: 30px" *ngIf="icon">{{
        icon
      }}</mat-icon>
    </button>
  </div>
  <div *ngIf="styleType === 'round_big'">
    <button [color]="color" [type]="type" mat-fab [disabled]="disabled" class="mat-fab">
      <ux-typography variant="subtitle" [text]="label"></ux-typography>
      <mat-icon class="round-btn-icon" style="min-width: 50px" *ngIf="icon">{{
        icon
      }}</mat-icon>
    </button>
  </div>
  <!-- <div *ngIf="styleType === 'round_small'">
    <button [type]="type" mat-mini-fab [disabled]="disabled" class="mini-fab">
      <ux-typography variant="subtitle"></ux-typography>
      <mat-icon class="round-btn-icon" *ngIf="icon">{{ icon }}</mat-icon>
    </button>
  </div> -->
</div>
