@import '../../../../../variable';
mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

::ng-deep .mat-snack-bar-container {
    padding: 0;
    background: transparent;
    margin: 60px 40px;
  }
::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 99999999;
}
.success {
  background-color: #0E7C3C;
  display: flex;
  align-items: center;
  place-content: space-between;
  padding: 12px;
  border-radius: 4px;

  mat-icon {
    color: $basic-white;
  }
}

.neutral {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  place-content: space-between;
  padding: 12px;
  border-radius: 4px;
  mat-icon {
    color: #0F0F0F;
  }
}

.info {
    background-color: #143664;
    display: flex;
    align-items: center;
    place-content: space-between;
    padding: 12px;
    border-radius: 4px;
    mat-icon {
        color: $basic-white;
      }
}

.warning {
    background: #AA570B;
    display: flex;
    align-items: center;
    place-content: space-between;
    padding: 12px;
    border-radius: 4px;
    mat-icon {
        color: $basic-white;
      }
}

.error {
    background: #971B17;
    display: flex;
    align-items: center;
    place-content: space-between;
    padding: 12px;
    border-radius: 4px;
    mat-icon {
        color: $basic-white;
      }
}

:host {
  position: relative;
  z-index: 9999;
}
