<!-- Ustawiasz klase na glownym divie na neutral || success || info || warning || error -->
<div [ngClass]="{
  'success': snackbarState === SnackbarState.Success,
  'neutral': snackbarState === SnackbarState.Neutral,
  'warning': snackbarState === SnackbarState.Warning,
  'error': snackbarState === SnackbarState.Error,
  'info': snackbarState === SnackbarState.Info
}" class="row">
  <mat-icon *ngIf="snackbarState === SnackbarState.Success" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    check_circle_outline
  </mat-icon>
  <mat-icon *ngIf="snackbarState === SnackbarState.Neutral" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    info_outline
  </mat-icon>
  <mat-icon *ngIf="snackbarState === SnackbarState.Info" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">info_outline</mat-icon>
  <mat-icon *ngIf="snackbarState === SnackbarState.Warning" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    warning
  </mat-icon>
  <mat-icon *ngIf="snackbarState === SnackbarState.Error">error_outline</mat-icon>
  <ux-typography
    *ngIf="snackbarState === SnackbarState.Success"
    class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
    variant="subtitle"
    color="primary"
    [text]="message"
  ></ux-typography>
  <ux-typography
    *ngIf="snackbarState === SnackbarState.Neutral"
    class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
    variant="subtitle"
    color="black"
    [text]="message"
  ></ux-typography>
  <ux-typography
    *ngIf="snackbarState === SnackbarState.Info"
    class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
    variant="subtitle"
    color="primary"
    [text]="message"
  ></ux-typography>
  <ux-typography
    class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
    variant="subtitle"
    color="primary"
    [text]="message"
    *ngIf="snackbarState === SnackbarState.Warning"
  ></ux-typography>
  <ux-typography
    class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
    variant="subtitle"
    color="primary"
    *ngIf="snackbarState === SnackbarState.Error"
    [text]="message"
  ></ux-typography>
  <mat-icon class="col-lg-2 col-md-2 col-sm-2 col-xs-2">close</mat-icon>
</div>
