@import '../../../../../variable';
@media screen and (min-width: 900px) {
  main::-webkit-scrollbar {
    width: 0.5em;
  }
 main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(121, 118, 118, 0.3);
  }

  main::-webkit-scrollbar-thumb {
    background-color: map-get($galaxy-purple-palette, 800);
  }
}

:host {
  .header {
    height: 60px;
    &:empty {
      display: none;
    }
  }

  .main {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
  }
  .footer {
    height: 60px;
    flex-shrink: 0;
    &:empty {
      display: none;
    }
  }
}

.container {
  overflow: hidden;

}

::ng-deep .mat-drawer-content {
  overflow: inherit !important;
}
