<div class="mat-typography container" fxFlexAlign="center center" fxLayout="column" fxFlexFill>
  <div class="header" fxFlexAlign="center center">
    <ng-content select="ux-layout-top"></ng-content>
  </div>
  <div class="main" fxFlex fxFlexFill>
    <ng-content select="ux-layout-content"></ng-content>
  </div>
  <div class="footer">
    <ng-content select="ux-layout-footer"></ng-content>
  </div>
</div>
