::ng-deep .mat-list-base .mat-list-item {
  height: auto !important;
  min-height: 48px;
  padding: 0 !important;
  border-bottom: 1px solid rgba(156, 39, 176, 0.4);
}
.mat-list-item {
  height: auto;
}
