<ux-simple-layout>
  <ux-layout-top>
    <ux-topbar label="Create profile">
      <ng-template uxTopbarLeftComponent>
        <ux-logo></ux-logo>

      </ng-template>
    </ux-topbar>
  </ux-layout-top>
  <ux-layout-content>
  <store-session-stepper></store-session-stepper>
  </ux-layout-content>
</ux-simple-layout>
