@media screen and (max-width: 900px) {

}
@media screen and (min-width: 901px) {
.logo {

}
}
.link-scroll::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
}
.pin-code {
  margin-top: 1em;
  margin-bottom: 4em;
  font-weight: 900;
  color: #ff7043;
}
.qr-code {
  margin-bottom: 3em;
}
.link-scroll {
  overflow-x: scroll;
}
.logo {
  color: orange;
  background: url('../../../assets/logo-protocol-new.png') center no-repeat;
  background-size: contain;

}

.bottom-text {
  margin-bottom: 4em;
}

.content-container {
  margin-top: 4em;
}
