:host ::ng-deep .mat-expansion-panel {
width: 100%;
background: none;
}

::ng-deep .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
    background: none;
}