
@media screen and (max-width: 900px) {
.container {
  align-items: center;
  place-content: start;
  padding-top: 88px;
}
}
@media screen and (min-width: 901px) {
  .container {
    align-items: center;
    place-content: center;
    padding-bottom: 7vh;
  }
}
:host {
  width: 100%;
}
.link-scroll::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100%;
  display: flex;

}
.pin-code {
  margin-top: 1em;
  margin-bottom: 4em;
  font-weight: 900;
  color: #ff7043;
}
.qr-code {
  margin-bottom: 3em;
}
.link-scroll {
  overflow-x: scroll;
}
.logo {
  color: orange;
  background: url('../../../assets/logo-protocol-new.png') center no-repeat;
  background-size: contain;
}

.bottom-text {
  margin-bottom: 4em;
}

.content-container {
  margin-top: 4em;
  width: 100%;
}

.btnlink {
width: 100%;
}
.btn-container {
  min-width: 60%;
}

