<div
  fxLayout="column"
  fxFlexFill
  fxLayoutGap="20px"
  class="container"
  *ngIf="sessionLink"
>
  <div fxLayout="row" fxLayoutAlign="center">
    <ux-typography variant="heading" text="Share session to peer:"></ux-typography>
  </div>
  <div class="pin-code" fxLayout="row">
    <ux-typography variant="mat-display-1" [text]="PIN"></ux-typography>
  </div>
  <div fxLayoutAlign="center center" class="qr-code">
    <qrcode [qrdata]="sessionLink" [size]="256" [level]="'M'"></qrcode>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <ux-typography text="Share this link with your buddy" variant="caption">
    </ux-typography>

  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <ux-button-link
        class="btnlink"
        [cdkCopyToClipboard]="sessionLink"
        [value]="sessionLink"
        color="primary"
      ><mat-icon>file_copy</mat-icon>
      </ux-button-link>
    </div>
  </div>
</div>
