<ux-simple-layout>
  <ux-layout-top>
    <ux-topbar>
      <ng-template uxTopbarLeftComponent>
        <ux-logo></ux-logo>
      </ng-template>
    </ux-topbar>
  </ux-layout-top>
  <ux-layout-content>
    <desktop-logo-wrapper>
      <div fxLayout="row" fxLayoutAlign="center" class="heading">
        <ux-typography
          variant="heading"
          text="Import session"
        ></ux-typography>
      </div>
            
      <!-- <div *ngIf="!enablePassform" fxLayout="row" fxLayoutAlign="center">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event)"
          (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            Optional custom content that replaces the the entire default
            content.
            <button type="button" (click)="openFileSelector()">
              Browse Files
            </button>
          </ng-template>
        </ngx-file-drop>
      </div>
      <div *ngIf="enablePassform" fxLayout="row" fxLayoutAlign="center">
        <form (submit)="loadMasterSession()" class="form-container" fxLayoutAlign="center">
          <mat-form-field
            class="form-field"
            fxFlex.lg="60"
            fxFlex.md="60"
            fxFlex.sm="60"
            fxFlex.xs="90"
            fxLayoutAlign="center"
          >
            <mat-label>Passphrase</mat-label>
            <input autofocus autocomplete="false" [(ngModel)]="passphrase" name="passphrase" type="password" matInput placeholder="Enter your passphrase" />

            <mat-error>
              Enter your passphrase
            </mat-error>
          </mat-form-field>
        </form>
      </div> -->
    </desktop-logo-wrapper>
  </ux-layout-content>
</ux-simple-layout>
