<ux-simple-layout>
  <ux-layout-top>
    <ux-topbar label="Log in">
      <ng-template uxTopbarLeftComponent>
        <ux-logo></ux-logo>
      </ng-template>
    </ux-topbar>
  </ux-layout-top>
  <ux-layout-content>
    <ux-stepper
      (finished)="onFinished($event)"
      [componentTypes]="[UnlockMasterSessionPassphraseComponent]"
    >
      <unlock-session-passphrase
        [parentStepper]="parentStepper"
        [uxStep]
        #firstComponent
      ></unlock-session-passphrase>
    </ux-stepper>
  </ux-layout-content>
</ux-simple-layout>
