@import "../../../variable";
@media screen and (max-width: 900px) {
  .messages {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (min-width: 901px) {
  .messages {
    padding-left: 4em;
    padding-right: 4em;
  }
}
.send-btn-wrapper {
  display: flex;
}
textarea::-webkit-scrollbar {
  width: 0px;
}
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(121, 118, 118, 0.1);
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(68, 64, 64, 0.1);
}

.seen-time {
  text-align: right;
  padding: 10px;
}

.heading-name {
  text-align: left;
  padding: 10px;
}

.messages {
  padding: 10px;
  margin-top: 1vh;
  overscroll-behavior: contain;

  height: calc(100vh - 200px);

width: 100%;
}

.send-btn {
  display: flex;
  place-content: center;
  align-items: center;
  background-color: transparent;
  width: 60px;
  height: 60px;
}

.textarea-chat {
  margin: 0;
  padding-bottom: 5px;
  background: #171423;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  padding: 16px 8px;
  letter-spacing: 0.05em;
  line-height: 24px;
  height: 100%;
}

.footer-chat {
  width: 100%;
  border-top: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, #9d9d9d 0%, #484a62);
  border-image: linear-gradient(90deg, #9d9d9d 0%, #484a62);
  border-image-slice: 1;
}

.footer-chat-2 {
}

ux-layout-footer {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 999999;
}
.indicator {
  position: absolute;
  right: 85px;
  bottom: 70px;
}
.emoji-picker{
  height: 60px;
  width: 60px;
}
.send-icon {

}
