<ux-simple-layout>
  <ux-layout-top>
    <div class="notify-bar">
      <ux-notify-bar
        [enable]="notifyBarEnabled"
        icon="notification_important"
        message="Let us notify you when new message arrives"
        [actions]="notifyBarActions"
      ></ux-notify-bar>
    </div>
  </ux-layout-top>

  <ux-layout-content fxFlexFill>

    <div class="messages" fxLayout="column" #scrollMe>
      <message
        *ngFor="let message of messages"
        [isRead]="
          (wasReadMessageService.getLastReadedMessages$(this.session) | async)
            ?.id === message.id
        "
        [content]="message"
      ></message>
      <ux-indicator
        [size]="10"
        [color]="'#838388'"
        *ngIf="writingMessageService.isWriting$ | async"
        class="indicator"
      ></ux-indicator>
    </div>
  </ux-layout-content>
  <ux-layout-footer class="footer-chat">
    <div fxLayout="row" fxFlexFill class="footer-chat-2">
      <ux-emoji-picker (emoji)="onEmoji($event)" class="emoji-picker">
        <mat-icon class="emoji-icon" color="accent">mood</mat-icon>
      </ux-emoji-picker>

      <div fxFlex="100" class="footer-chat-2">
        <textarea
          autosize
          fxFlex="100"
          matInput
          class="textarea-chat"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
          ngDefaultControl
          [value]="message || ''"
          [ngModel]="message | emoji"
          (ngModelChange)="message = $event"
          #writing
        ></textarea>
      </div>
      <div fxFlexAlign="center center" class="send-btn-wrapper">
        <!-- <ux-button

          (click)="sendMessage()"
          icon="send_message"
          styleType="clean"
          class="send-btn"
        ></ux-button> -->
        <button mat-icon-button class="send-btn" (click)="sendMessage()">
          <mat-icon class="send-icon" color="accent">send</mat-icon>
        </button>
      </div>
    </div>
  </ux-layout-footer>
</ux-simple-layout>
