:host {
  width: max-content;
  display: inline;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-left: 4px;
  margin-right: 4px;
  .heading {
    color: white;
    font-size: 1.7em;
    font-weight: 500;
  }
  .heading-light {
    color: white;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 0.01em;
  }
  .subtitle {
    color: #dddde2;
    font-size: 1.4em;
  }

  .subtitle-small {
    color: #dddde2;
    font-size: 1em;
  }
  .caption {
    color: #8f919f;
    font-size: 1.3em;
  }
  .caption-light {
    color: white;
    font-size: 1.3em;
  }
  .link {
    font-size: 1.2em;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .error {
    color: #ff6b01;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    .heading {
      font-size: 1.2em;
    }
    .subtitle {
      font-size: 1em;
    }

    .subtitle-small {
      font-size: 0.9em;
    }
    .caption {
      font-size: 0.9em;
    }
    .caption-light {
      font-size: 0.9em;
    }
    .link {
      font-size: 0.9em;
    }
    .error {
      font-size: 0.8em;
    }
  }
}
