<ux-simple-layout>
  <ux-layout-top>
    <ux-topbar>
      <ng-template uxTopbarLeftComponent>
        <ux-logo></ux-logo>
      </ng-template>
      <ng-template uxTopbarRightComponent>
          <button class="gitlab-button" mat-button aria-label="Gitlab">
            <a href="https://gitlab.com/thecyberd3m0n/protocol-im" target="_blank">
              <img [src]="getGitlabLogoPath()" />
              <ux-typography
                variant="subtitle"
                text="Source code"
              ></ux-typography>
            </a>
          </button>
      </ng-template>
    </ux-topbar>
  </ux-layout-top>
  <ux-layout-content class="main-container" fxLayoutAlign="center center">
    <desktop-logo-wrapper>
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="heading-light">
          Maximum privacy combined with maximum convenience
        </span>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="start-session-button"
      >
        <ux-button
          color="primary"
          class="startBtn"
          label="Create session"
          styleType="raised"
          routerLink="/start-session"
        ></ux-button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <ux-typography
          class="subdescription"
          variant="caption"
          text="No phone numbers, no trackers, no one can read your messages"
        ></ux-typography>
      </div>
    </desktop-logo-wrapper>
    <!-- END_NG_CONTENT -->
    <!-- END WRAPPER -->
  </ux-layout-content>
</ux-simple-layout>
