:host {
  width: 80%;
}
@media screen and (max-width: 900px) {

  .start-session-button {
    margin-top: 5vh;
  }
  .heading-light {
    color: #8f919f;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    margin-top: 1vh;
  }
}
@media screen and (min-width: 901px) {
  .main-container {
    padding-bottom: 60px;
  }
  .gitlab-button {
    img {
      margin-bottom: 8px;
    }
  }
  .heading-light {
    color: white;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    margin-bottom: 5vh;
  }
}
.container {
  margin-bottom: 60px;
}

.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
}


.btn {
  padding: 2px;
  height: 45px;
}



.subdescription {
  margin-top: 6vh;
  margin-bottom: 2vh;
  width: 40vh;
}

.topicon {
  margin-right: 1em;
}

.margin {
  margin-bottom: 60px;
}

.gitlab-button {
  display: flex;
  align-items: center;
  place-content: flex-end;
  width: 100%;
  padding: 0;
  a {
    display: flex;
    align-items: center;
  }
  img {
    margin-right: 3px;
  }
}
