:host ::ng-deep .emoji-sheet{
  padding: 0 !important;
}
:host ::ng-deep .margin-bottom-sheet-container{
  padding: 0 !important;
}
.picker-button{
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
}