@import '../../../../../variable';


::ng-deep .mat-drawer:not(.mat-drawer-side) {
  @media screen and (max-width: 992px) {
    width: 100%;
  }
  box-shadow: none;
  width: 25%;
}
::ng-deep .mat-drawer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  display: none;
}
::ng-deep .label {
  color: white;
  padding-left: 20px;
  font-size: 0.9em;
}

::ng-deep .mat-divider {
  display: none;
}
::ng-deep .mat-drawer.mat-drawer-side {
  width: 25%;
}

::ng-deep .mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {

}
ux-layout-top,
ux-layout-content {
  width: 100%;
}

::ng-deep .mat-drawer-inner-container {
  background: #0D0E1C;
}
