<ux-simple-layout>
  <ux-layout-top>
    <ng-content select="ux-layout-top"></ng-content>
  </ux-layout-top>
  <ux-layout-content>
    <mat-sidenav-container *ngIf="showMenu" class="app-sidenav-container">
      <mat-sidenav #sidenav
      [mode]="alwaysOpened ? 'side' : 'push'"
      [opened]="alwaysOpened || leftSideOpened">
        <div *ngFor="let menuComponent of menuComponents">
          <ng-container
            *ngTemplateOutlet="menuComponent.template"
          ></ng-container>
        </div>
      </mat-sidenav>
      <ng-container *ngTemplateOutlet="contentOutlet"></ng-container>
    </mat-sidenav-container>
    <div *ngIf="!showMenu">
      <ng-container *ngTemplateOutlet="contentOutlet"></ng-container>
    </div>
  </ux-layout-content>
</ux-simple-layout>

<ng-template #contentOutlet>
  <ng-content></ng-content>
</ng-template>
