@import '../../../../../variable';

:host ::ng-deep .mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  line-height: inherit;
  overflow: hidden;
}


::ng-deep .mat-fab .mat-button-wrapper {
  padding: 0;
}
.button--icon {
  background-color: #acaebf;
  width: 30px;
  height: 36px;
  display: flex;
  align-items: center;
}

.button-container {
  width: 100%;
}
// .mini-fab {
//   width: 100%;
//   height: 100%;
//   // padding-top: 100%; /* 1:1 Aspect Ratio */
//   // position: relative; /* If you want text inside of it */
// }

.mat-fab {
   box-shadow: none !important;
   padding: 0;
}

.round-btn-icon {
  padding: 0;
  margin: 0;
}
