::ng-deep .mat-card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 88%;
  margin: auto;
  margin-bottom: 10px;
}

::ng-deep .mat-card:not([class*='mat-elevation-z']) {
  -webkit-box-shadow: 0px 6px 19px 3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 6px 19px 3px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 6px 19px 3px rgba(0, 0, 0, 0.53);
}

:host ::ng-deep .material-icons {
  font-size: 7vh;
  border: 2px solid white;
  border-radius: 50%;
  -moz-transform: rotate(26deg);
  -webkit-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  transform: rotate(26deg);
}

:host ::ng-deep .mat-card-header {
  flex: 1 1 100%;
}

:host ::ng-deep .mat-card-content {
  flex: 1 1 100%;
}

:host ::ng-deep .mat-card-avatar {
  height: 7vh;
  width: 7vh;
  margin-left: 20px;
}

::ng-deep .mat-card-header .mat-card-subtitle {
  margin-top: 12px;
  margin-bottom: 20px;
}
