<mat-toolbar>
  <mat-toolbar-row>
      <div
          fxLayout="row"
          fxFlexFill
          fxLayoutAlign="center center"
      >
          <a
              [routerLink]="navLink.path"
              *ngFor="let navLink of navLinks"
          >
              <button
                  mat-flat-button
                  class="button"
              >
                  <mat-icon fxLayoutAlign="center center">{{navLink.icon}}</mat-icon>
                  <div class="mat-caption">{{navLink.label}}</div>
              </button>
          </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
