@import '../../../../../variable';

.button {
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  // color: map-get($palette, 'text');
}
mat-icon {
  width: 100%;
}
.mat-toolbar {
  // color: map-get($palette, 'text');
}
