<ux-layout-content class="main-container" fxLayoutAlign="center center">
  <desktop-logo-wrapper>
    <ux-spinner-view [loading]="true"></ux-spinner-view>
  </desktop-logo-wrapper>
</ux-layout-content>
