<ux-simple-layout>
  <ux-layout-content>
    <div
      fxFlexFill
      fxLayout="row"
      flexLayoutAlign="start start"

    >
    <div class="content-wrapper">
      <ng-template style="width: 100%" #container class="main-container"></ng-template>
    </div>
  </div>

  </ux-layout-content>
  <ux-layout-footer>
    <mat-divider></mat-divider>
    <ux-topbar>
      <ng-template uxTopbarLeftComponent *ngIf="hasPreviousRoute()">
        <ux-button
          [disabled]="!(currentStep?.instance.canGoBack | async) || false"
          (click)="goBack()"
          styleType="clean"
          icon="chevron_left"
          class="btnicon"
        ></ux-button>
      </ng-template>
      <ng-template uxTopbarRightComponent *ngIf="hasNextPage()">
        <ux-button
          [disabled]="!(currentStep?.instance.canGoNext | async) || false"
          styleType="clean"
          icon="chevron_right"
          [label]="(nextButtonLabel | async) || null"
          (click)="goForward()"
          class="btnicon next"
        ></ux-button>
      </ng-template>
      <ng-template uxTopbarRightComponent *ngIf="!hasNextPage()">
        <ux-button
          styleType="clean"
          icon="chevron_right"
          (click)="done()"
          class="btnicon next"
        ></ux-button>
      </ng-template>
    </ux-topbar>
  </ux-layout-footer>
</ux-simple-layout>
