.next {
  width: 100%;
}
.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
}
.content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  height: 100%;
}

