.indicator {
  display: flex;
  align-items: center;
  > div {
    background-color: currentColor;
    margin-right: 5%;
    width: 30%;
    height: 100%;
    border-radius: 100%;
    animation: pulse 1s ease infinite;

    &:nth-child(2) {
      animation-delay: 100ms;
    }
    &:nth-child(3) {
      margin-right: 0;
      animation-delay: 200ms;
    }
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0.1;
    transform: scale(0.01);
  }
}
