.reactionPicker{
 width: 100%;
 button{
    padding: 0;
    min-width: 25px;
 }
}
@media screen and (min-width: 440px) {
    .reactionPicker
        button{
           min-width: 40px; 
       } 
}
@media screen and (min-width: 704px) {
    .reactionPicker
        button{
           min-width: 64px; 
       } 
}
.messageMenu{
    button{
        width: 100%;
    }
}