<div class="reactionPicker"  fxLayout="row" fxLayoutAlign="space-around center" >
    <button mat-button
     *ngFor="let reaction of reactions"
     (click)="reactionClick(reaction)"
    >
        {{reaction}}
    </button>
    <button mat-button (click)="reactionClick('')">
        ❌
    </button>
</div>
<mat-action-list class='messageMenu' fxLayout="column" fxLayoutAlign="space-around center" >
    <button mat-button (click)="editClick()">Edit</button>
    <button mat-button (click)="responseClick()">Response</button>
    <button mat-button (click)="deleteClick()">Delete</button>
    <button mat-button (click)="returnClick()">Return</button>
</mat-action-list>