<ux-simple-layout>
  <ux-layout-content
    fxLayoutAlign="start center"
    fxLayout="column"
    class="layout-content"
  >
    <div class="profile-pictures">
      <div class="mobile-topbar">
        <div class="save-wrapper" fxLayout="row">
          <ux-sidenav-button
            (click)="cancel()"
            *ngIf="(isMobile$ | async).matches"
            icon="keyboard_arrow_left"
            label="Chat"
            styleType="raised"
            matTooltipPosition="above"
            matTooltip="cancel"
            class="cancel-button"
          ></ux-sidenav-button>

          <ux-sidenav-button
            (click)="editSidenav()"
            icon="edit"
            label="Edit"
            styleType="raised"
            matTooltipPosition="above"
            matTooltip="edit"
          ></ux-sidenav-button>
        </div>
      </div>
      <div class="background-picture"></div>
      <div
        class="avatar-container"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <!-- <div class="avatar" fxLayout="column" fxLayoutAlign="center center">
    <span class="material-icons person-avatar"> person </span>
  </div> -->
        <ux-avatar [small]="false"></ux-avatar>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" class="name-container">
      <span
        class="name"
        variant="heading"
        fxFlex
        fxLayoutAlign="center center"
        >{{ name }}</span
      >
    </div>
    <div class="bio" fxLayout="row" fxLayoutAlign="center center">
      <!-- <ux-typography variant="subtitle-small" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed sagittis mi. Aliquam fermentum commodo metus, ut cursus lorem iaculis vitae."></ux-typography> -->
      <span>
        {{ bio }}
      </span>
    </div>

    <!-- If profile isn't mine -->
    <div fxLayout="row" class="contact">
      <!-- <ux-button icon="add" label="Add to contacts" styleType="flat"></ux-button>| -->
      <!-- <ux-button icon="message" label="Send message" styleType="flat" color="warn"></ux-button> -->
    </div>

    <!-- If profile is mine -->
    <!-- <div fxLayout="column" fxLayoutAlign="start" class="buttons">
      <button mat-button color="primary" fxFlex="100">
        <span fxFlex="90" fxLayoutAlign="start"> Edit profile </span>
        <span
          class="material-icons delete-icon"
          fxFlex="10"
          fxLayoutAlign="end center"
        >
          edit
        </span>
      </button>
      <button mat-button color="warn" fxFlex="100">
        <span fxFlex="90" fxLayoutAlign="start"> Delete profile </span>
        <span
          class="material-icons delete-icon"
          fxFlex="10"
          fxLayoutAlign="end center"
        >
          delete
        </span>
      </button>
    </div> -->
  </ux-layout-content>
</ux-simple-layout>
