.avatar {
  width: 187px;
  height: 187px;
  border-radius: 50%;
}
:host {
  width: 100%;
  height: 100%;
}
.material-icons {
  opacity: 0.7;
}
:host ::ng-deep .mat-button {
  text-align: left;
}
.profile-pictures {
  position: relative;
  width: 100%;
}
.bio {
  margin-bottom: 2vh;
  box-sizing: border-box;
  padding: 0 16px;
  span {
    font-size: 0.88em;
    color: #b5b5b5;
    text-align: center;
  }
}
.contact {
  color: rgb(100, 100, 100);
  font-size: 24px;
  align-items: center;
  place-content: space-around;
  width: 100%;
  margin-bottom: 1vh;
  ux-button {
    width: 100%;
  }
}
.background-picture {
  background: url("../../../assets/rainbow-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
  z-index: 0;
}
.avatar-container {
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
  margin-bottom: 2vh;
  margin-top: -60px;
}
.edit-button {

}
.cancel-button {


  mat-icon {
    color: white;
  }
}
.name-container {
  margin-top: -16px;
}
.name {
  color: #e0e0e0;
  font-size: 2.2em;
  line-height: 2.2em;
  font-weight: 400;
}
.layout-content {
  height: 100%;
}
.buttons {
  width: 100%;
  margin-top: 10vh;
}
.person-avatar {
  font-size: 100px;
}
.expand-button {
  background-color: #4e186f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 32px;
  -webkit-transition: max-width 0.8s;
  transition: max-width 0.8s;
}
.expand-button:hover {
  max-width: 300px;
}
.expand-icon {
  font-size: 16px;
  margin-right: 15px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
}
.expand-text {
  white-space: nowrap;
  padding-right: 15px;
}
.mobile-topbar {
   background: rgb(13, 14, 28);
   background: linear-gradient(
     180deg,
     rgba(13, 14, 28, 1) 0%,
     rgba(13, 14, 28, 0) 80%
   );
   position: absolute;
   top: 0;
   width: 100%;
}
.save-wrapper {
  display: flex;
  align-items: center;
  place-content: space-between;
  width: 100%;
  padding: 16px;
}
