<div fxLayout="row" fxFlex="100">
  <mat-form-field appearance="fill" color="accent" class="link-toggle" fxLayoutAlign="center center" fxFlex>
    <input
    disabled="disabled"
      matInput
      readonly
      [value]="value"
    />
  </mat-form-field>
  <mat-button-toggle class="copy-toggle" value="italic"
    ><ng-content></ng-content></mat-button-toggle
  >
</div>
