@import "~@angular/material/theming";

@font-face {
  font-family: 'Lucida Console';
  src: url(../../../../../fonts/lucida-console.ttf);
}
.mat-button-toggle{
  background-color: map-get($mat-purple, 500);
  color: #ffffff;
}

.mat-button-toggle:hover {
  background-color: map-get($mat-purple, 500);
  color: white !important;
}

.mat-button-toggle-checked {
  background-color: map-get($mat-purple, 500);;
  color: white !important;
}
// :host ::ng-deep .mat-button-toggle-appearance-standard {
//   background: black;
// }
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  width: 100%;
  font-family: 'Lucida Console', arial;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 93%;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.6em;
}
:host ::ng-deep .mat-button-toggle-group-appearance-standard,
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border-top-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 98%;
}
.link-toggle {
  font-family: 'Lucida Console', arial;
  border-top-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding: 0;
  width: 100%;
}
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0em 0em 0 0.75em;
}
:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 0;
}
