<div fxLayout="column" fxFlexFill>
  <div [fxLayoutAlign]="content.own ? 'end center' : 'start center'" fxLayout="row">
    <div
      fxLayoutAlign="start center"
      class="message-box"
      fxFlex.lg="60"
      fxFlex.md="60"
      fxFlex.sm="60"
      fxFlex.xs="60"
      fxLayout="row"
      [ngClass]="{ sent: content.own, received: !content.own }"
      uxLongPress
      (longPress)="messageLongPress($event)"
      (contextmenu)="messageLongPress($event)"
      [pressTimeMs]="800"
      [style.border]="isSet ? 'rgba(255, 152, 0, 1) 2px solid' : null"
    >
      <ux-typography variant="subtitle-small" [text]="content.content | emoji">
      </ux-typography>
    </div>
  </div>
  <div
    fxLayout="row"
    [fxLayoutAlign]="content.own ? 'end' : 'start'"
    class="date-container"
  >
    <span class="date">{{ date | date : "short" }}</span>
    <span class="date" *ngIf="isRead"><mat-icon>check_small</mat-icon></span>
    <span *ngFor="let reaction of reactions$ | async">{{
      reaction.emoji
    }}</span>
  </div>
</div>
