@media screen and (max-width: 900px) {
  .message-box {
    max-width: 90% !important;
  }
  .date-container {
    max-width: 90% !important;
  }
}

.date {
  color: #838388;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 2px;
}


.message-box {

  border: none;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 70%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.sent {
  background-color: #050e18;
  border-top-left-radius: 0;
}
.received {
  border-top-right-radius: 0;
  background-color: #4E186F;
}
