<ux-simple-layout>
  <ux-layout-top>
    <ux-topbar label="Connect device">
      <ng-template uxTopbarLeftComponent>
        <ux-logo></ux-logo>
      </ng-template>
    </ux-topbar>
  </ux-layout-top>
  <ux-layout-content>
    <connect-device-stepper></connect-device-stepper>
  </ux-layout-content>
</ux-simple-layout>
