<ux-layout-content class="main-container" fxLayoutAlign="center center">
  <desktop-logo-wrapper>
    <div class="description">
      <ux-typography variant="heading" text="Please unlock the imported account"></ux-typography>
      <ux-typography
        variant="caption"
        class="second-line"
        text="Please provide the passphrase"
      ></ux-typography>
    </div>

    <form class="form-container" fxLayoutAlign="center">
      <mat-form-field
        class="form-field"

        fxLayoutAlign="center"
        color="accent"
        appearance="outline"
      >
        <mat-label>Passphrase</mat-label>
        <input
          autofocus
          autocomplete="false"
          [(ngModel)]="passphrase"
          name="passphrase"
          type="password"
          matInput
          placeholder="Enter your passphrase"
          (keydown.enter)="onEnterPressed($event)"
        />

        <mat-error> Enter your passphrase </mat-error>
      </mat-form-field>
    </form>

  </desktop-logo-wrapper>
</ux-layout-content>
