.heading {
  margin-bottom: 1em;
}

.subheading {
  margin-bottom: 3em;
}
:host {

  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  margin-bottom: 4vh;
}
.second-line {
  margin-top: 2vh;
}
.form-container {
  width: 100%;
}
.form-field {
  input {
    width: 100%;
  }
}
:host ::ng-deep .mat-form-field-wrapper {
  width: 60%;
}
:host ::ng-deep .mat-form-field {
  width: 100%;
}
