<div class="dialog-content">
  <ux-typography
  variant="heading"
  text="Are you sure you want to delete this profile?"
></ux-typography>

</div>
<ux-layout-footer>

  <div fxLayout="row" class="buttons-container">

    <button fxFlex="40" color="warn" mat-flat-button>Cancel</button>
    <button fxFlex="40" color="primary" mat-flat-button>Yes, im sure</button>
  </div>
</ux-layout-footer>
