<mat-expansion-panel>
  <mat-expansion-panel-header *ngIf="header || description">
    <mat-panel-title *ngIf="header">
      {{header}}
    </mat-panel-title>
    <mat-panel-description *ngIf="description">
      {{description}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>
