:host ::ng-deep .mat-expansion-panel {
width: 100%;
background: none;
}

::ng-deep .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
    background: none;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border-bottom: 2px solid;
    border-color: rgba(200, 200, 200, 0.1);
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
}

