<ng-container
  *ngTemplateOutlet="mobileSidenav"
></ng-container>
<ng-template #mobileSidenav>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      #leftSide
      [mode]="(isMobile$ | async).matches ? 'over' : 'side'"
      [opened]="alwaysOpened || leftSideOpened"
    >
      <div class="sidenav-mobile-left-side">
        <ng-container *ngTemplateOutlet="leftSideOutlet"></ng-container>
      </div>
    </mat-sidenav>
    <mat-sidenav
      [disableClose]="true"
      #rightSide
      position="end"
      [mode]="(isMobile$ | async).matches ? 'over' : 'side'"
      [opened]="rightSideOpened"
    >
      <!-- right dynamic sidenav -->
      <mat-sidenav-container>
        <mat-sidenav
          [opened]="sidenavService.childOpened$ | async"
          mode="over"
          class="child-nav"
          position="end"
        >
          <ng-container *ngTemplateOutlet="childOutlet"></ng-container>
        </mat-sidenav>
        <ng-container *ngTemplateOutlet="rightSideOutlet"></ng-container>
      </mat-sidenav-container>
    </mat-sidenav>
    <!-- main content -->
    <ux-simple-layout>
      <ux-layout-top
        class="header-visibility"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxFlexFill
      >
        <ng-container *ngTemplateOutlet="topbarOutlet"></ng-container>
      </ux-layout-top>
      <ux-layout-content>
        <ng-container *ngTemplateOutlet="contentOutlet"></ng-container>
      </ux-layout-content>
      <ux-layout-footer *ngIf="showFooter">
        <ng-container *ngTemplateOutlet="footerOutlet"></ng-container>
      </ux-layout-footer>
    </ux-simple-layout>
  </mat-sidenav-container>
</ng-template>

<ng-template #leftSideOutlet>
  <ng-content select="ux-layout-left-side"></ng-content>
</ng-template>

<ng-template #rightSideOutlet>
  <ng-container #dynamicComponentContainer></ng-container>
</ng-template>

<ng-template #topbarOutlet>
  <ng-content select="ux-layout-top"></ng-content>
</ng-template>

<ng-template #footerOutlet>
  <ng-content select="ux-layout-footer"></ng-content>
</ng-template>

<ng-template #contentOutlet>
  <ng-content></ng-content>
</ng-template>

<ng-template #childOutlet>
  <ng-container #dynamicChildNavContainer></ng-container>
</ng-template>
