:host ::ng-deep .mat-list-base {
  flex-direction: column;
  width: 50%;
}

// ::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
//   border-bottom: 1px solid transparent;
//   border-image: linear-gradient(90deg, rgba(157,157,157,1) 0%, rgba(72,74,98,1));
//   border-image-slice: 1;
// }
