<ux-simple-layout>
  <ux-layout-content>
    <form
      [formGroup]="formGroup"
      fxLayoutAlign="start center"
      fxLayout="column"
      class="layout-content"
    >
      <div class="profile-pictures">
        <div class="mobile-topbar">
          <div class="save-wrapper" fxLayout="row">

            <ux-sidenav-button
            (click)="cancel()"
            icon="close"
            label="Cancel"
            styleType="raised"
            matTooltipPosition="above"
              matTooltip="cancel"
              class="cancel-button"
          ></ux-sidenav-button>

            <ux-sidenav-button
            (click)="saveChanges()"
            icon="check"
            label="Save"
            styleType="raised"
            matTooltipPosition="above"
              matTooltip="save"
              class="cancel-button"
          ></ux-sidenav-button>
          </div>
        </div>
        <div class="background-picture"></div>
        <div
          class="avatar-container"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <ux-avatar [small]="false" [edit]="true"></ux-avatar>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start" class="name-container">
        <!-- TODO: ux-input whole form-field -->
        <mat-form-field appearance="outline">
          <mat-label>Change my name</mat-label>
          <input matInput type="text" formControlName="username" />
          <button
            class="clear-button"
            *ngIf="formGroup.get('username').value.length > 0"
            matSuffix
            mat-icon-button
            (click)="formGroup.get('username').setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="bio" fxLayout="row" fxLayoutAlign="center center">
        <!-- <ux-typography variant="subtitle-small" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed sagittis mi. Aliquam fermentum commodo metus, ut cursus lorem iaculis vitae."></ux-typography> -->

        <!-- <mat-form-field>
        <textarea matInput
                  placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed
                  sagittis mi. Aliquam ut cursus lorem iaculis vitae."
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="6"></textarea>
      </mat-form-field> -->
        <mat-form-field
          appearance="outline"
          class="textarea-wrapper"
          floatLabel="never"
        >
          <mat-label>Bio:</mat-label>
          <textarea
            formControlName="bio"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="6"
            matInput
          >
          </textarea>
          <button matSuffix class="clear-button" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </ux-layout-content>
</ux-simple-layout>
