.avatar {
  width: 187px;
  height: 187px;
  border-radius: 50%;
}
:host {
  width: 100%;
  height: 100%;
}
.material-icons {
  opacity: 0.7;
}
:host ::ng-deep .mat-button {
  text-align: left;
}
.profile-pictures {
  position: relative;
  width: 100%;
}
.bio {
  margin-bottom: 2vh;
  box-sizing: border-box;
  width: 75%;
}
:host ::ng-deep .mat-form-field-label {
  white-space: break-spaces;
}
.textarea-wrapper {
  width: 100%;
}
.contact {
  color: rgb(100, 100, 100);
  font-size: 24px;
  align-items: center;
  place-content: space-around;
  width: 100%;
  margin-bottom: 1vh;
  ux-button {
    width: 100%;
  }
}
.background-picture {
  background: url("../../../assets/rainbow-background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
  z-index: 0;
}
.avatar-container {
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
  margin-bottom: 2vh;
  margin-top: -60px;
}

.edit-button {
  mat-icon {
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
  }
  position: absolute;
  right: 16px;
  bottom: 97px;
  background-color: rgb(230, 230, 230, 0.2);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
.edit-button:hover {
  background-color: black;
  mat-icon {
    color: white;
    opacity: 1;
  }
}
.save-button {
  background-color: rgba(224, 224, 224, 0.151);
}
.name-container {
  margin-top: 24px;
  width: 75%;
  input {
    height: 30px;
  }
}
.name {
  color: #e0e0e0;
  font-size: 2.2em;
  line-height: 2.2em;
  font-weight: 400;
}
.layout-content {
  height: 100%;
}
.buttons {
  margin-top: 5vh;
}
.person-avatar {
  font-size: 100px;
}
.expand-button {
  background-color: #4e186f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 32px;
  -webkit-transition: max-width 0.8s;
  transition: max-width 0.8s;
}
.expand-button:hover {
  max-width: 300px;
}
.expand-icon {
  font-size: 16px;
  margin-right: 15px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
}
.expand-text {
  white-space: nowrap;
  padding-right: 15px;
}
:host ::ng-deep .mat-form-field-flex {
  display: flex;
  align-items: center;
}
.save-wrapper {
  display: flex;
  align-items: center;
  place-content: space-between;
  width: 100%;
  padding: 16px;
}

.cancel-button {

}
.mobile-topbar {
  background: rgb(13, 14, 28);
  background: linear-gradient(
    180deg,
    rgba(13, 14, 28, 1) 0%,
    rgba(13, 14, 28, 0) 80%
  );
  position: absolute;
  top: 0;
  width: 100%;
}
