
.picker{
  width: 100%;
  display: block;

}
:host ::ng-deep .emoji-mart{
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  border-radius: 5px 5px 0px 0px !important;
  .emoji-mart-scroll::-webkit-scrollbar{
    display: none;
  }
}


