<desktop-logo-wrapper>
  <div fxLayout="column">
    <div
      class="heading-download"
      [ngClass]="{
        'heading-download-mobile': isMobile$,
        'heading-download-desktop': !isMobile$
      }"
    >
      <div
        [ngClass]="{
          'qrcode-wrapper-mobile': isMobile$,
          'qrcode-wrapper-desktop': !isMobile$
        }"
        fxLayout="column"
        class="qrcode-wrapper"
        fxFlex="40"
      >
        <div *ngIf="sessionLink" fxLayout="row" fxLayoutAlign="end center">
          <qrcode [qrdata]="sessionLink" [size]="256" [level]="'M'"></qrcode>
        </div>
      </div>
      <div class="right-download-wrapper" fxLayout="column" fxFlex="60">
        <span
          class="heading"
          [ngClass]="{
            'heading-mobile': isMobile$,
            'heading-desktop': !isMobile$
          }"
        >
          Connect your other devices to account by scanning QR or copying the
          link
        </span>
      </div>
    </div>

    <div
      *ngIf="sessionLink"
      fxLayout="row"
      fxLayoutAlign="center center"
      class="qr-code"
      [ngClass]="{ 'qr-code-mobile': isMobile$, 'qr-code-desktop': !isMobile$ }"
    >
      <ux-button-link
        [ngClass]="{
          'btnlink-mobile': isMobile$,
          'btnlink-desktop': !isMobile$
        }"
        class="btnlink"
        [cdkCopyToClipboard]="sessionLink"
        [value]="sessionLink"
        color="primary"
        ><mat-icon>file_copy</mat-icon>
      </ux-button-link>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center"
      [ngClass]="{ 'qr-code-mobile': isMobile$, 'qr-code-desktop': !isMobile$ }"
      class="qr-code"
    >
      <ux-typography
        fxFlex="70"
        variant="caption"
        text="You can import all your sessions into other devices/browsers"
      ></ux-typography>
    </div>
  </div>
</desktop-logo-wrapper>
