.heading-mobile {
  font-size: 1em;
  text-align: center;
  margin-top: 16px;
}
.qr-code-mobile {
  margin-top: 2em;
  margin-bottom: 24px;
}

.qrcode-wrapper-mobile {
  align-items: center;
}
.qrcode-wrapper-desktop {
  align-items: flex-start;
}

.heading-desktop {
  font-size: 1.4em;
  text-align: start;
}

.qr-code-desktop {
  margin-top: 3em;
}

.qrcode-wrapper {
  place-content: center;
}

.heading-download {
  display: flex;
}

.form-container {
  width: 100%;
  height: 100%;
  place-content: center;
  align-items: center;
  flex-direction: row;
}


.heading {
  color: white;
  font-weight: 500;
  line-height: 1.4em;
}

.qrcode {
  height: 164px;
}

.right-download-wrapper {
  place-content: center;
}
.btnlink {
  width: 100%;
}
.heading-download-mobile {
  flex-direction: column;
}
.heading-download-desktop {
  flex-direction: row;
}
:host {
  width: 100%;
}
