<ux-stepper
  (finished)="onFinished($event)"
  (nextStep)="onNextStep($event)"
  [componentTypes]="[
    CreateProfileFirstStepComponent,
    CreateProfileSecondStepComponent,
    CreateProfileThirdStepComponent
  ]"
>
  <create-profile-first-step
    [uxStep]
    [parentStepper]="parentStepper"
    #firstComponent
  ></create-profile-first-step>
  <create-profile-second-step
    [uxStep]
    #secondComponent
    [parentStepper]="parentStepper"
  ></create-profile-second-step>
  <create-profile-third-step
    [uxStep]
    [parentStepper]="parentStepper"
    #thridComponent
  ></create-profile-third-step>

</ux-stepper>
