<!-- <ux-list-item> -->
  <div class="example-container" fxLayout="column" fxFlexFill>
    <div class="example-name" *ngIf="name" fxLayout="row">
      <ux-typography variant="subtitle" [text]="name"></ux-typography>
    </div>
    <div *ngIf="description" fxLayout="row">
      <p class="caption">
        {{ description }}
      </p>
    </div>
    <ng-content></ng-content>
  </div>
  <hr class="divider" />
<!-- </ux-list-item> -->
