@import '../../../../../variable';
:host ::ng-deep .mat-divider {
  margin-top: 10px;
  margin-bottom: 2px;

}
.example-container {
  margin-top: 10px;
  margin-bottom: 10px;

}
.example-name {
  margin-bottom: 10px;
}
.divider {
  margin-top: 15px;
  border: 0;
  height: 1px;
  background-image:linear-gradient(
    132deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(49, 51, 71, 1) 100%
  );
}
