<div class="portal">
    <div class="portal-background">
        <ng-content select="ux-portal-background"></ng-content>
    </div>
    <div class="portal-content">
        <ng-content select="ux-portal-content"></ng-content>
    </div>
</div>
