.portal {
  position: relative;
  overflow: hidden;
  height: 87vh;
}
.portal-background {
  position: absolute;
  height: 87vh;
}
.portal-content {
  top: 0px;
  position: relative;
  width: 100%;
  height: 87vh;
}
